/************************************
BODY & JUMBOTRON
************************************/

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    max-width: 980px;
}

.jumbotron {
    background-image: url("../images/parks-img.jpg");
    padding: 10% 0;
    margin-bottom: 5%;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.container .jumbotron {
    border-radius: 0;
}

/************************************
QUESTIONS AND ANSWERS STYLES
************************************/

h2 {
    font-size: 30px;
}

.row .content {
    max-width: 950px;
    text-align: center;
    
}

.answerList .thisChoice {
    font-size: 20px;
    line-height: 2em;
    cursor: pointer;
}

.answerList .thisChoice:hover {
    color: #fff;
    background-color: #79ca00;
}

/************************************
ANSWER PAGE
************************************/

#message {
    font-size: 30px;
}

#correctedAnswer {
    font-size: 20px;
}

#gif {
    margin-top: 3%;
}

/************************************
SCOREBOARD
************************************/

#finalMessage {
    font-size: 30px;
}

#correctAnswers,
#incorrectAnswers,
#unanswered {
    font-size: 20px;
}

#startOverBtn {
    margin-top: 3%;
}